[submodule "px4-mpc"]
	path = px4-mpc
	url = git@github.com:kupuk23/px4-mpc.git
[submodule "perception_pcl"]
	path = perception_pcl
	url = https://github.com/ros-perception/perception_pcl.git
	branch = jazzy
