<?xml version="1.0"?>
<robot name="robot_3d"
  xmlns:xacro="http://www.ros.org/wiki/xacro"
  xmlns:gz="http://gazebosim.org/schema">

  <xacro:property name="M_PI" value="3.1415926535897931" />

  <xacro:arg name="robot_name" default="robot_3d"/>
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="use_gazebo" default="false"/>

  <xacro:include filename="$(find camera_description)/urdf/sensors/rgbd_camera.urdf.xacro"/>
  <xacro:include filename="$(find camera_description)/urdf/control/camera_control.gazebo"/>

  <xacro:rgbd_camera prefix="$(arg prefix)" camera_name="cam_1" xyz_offset="0.105 0 0.03" rpy_offset="0 0 0" material_color="0.5 0.2 0.2 1" />


  <link name="base_link">
    <!-- <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial> -->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.2 0.1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.1 0.2 0.1"/>
      </geometry>
      <material name="red">
        <color rgba="1 0.2 0.2 1.0"/>
      </material>
    </visual>
  </link>



  <gazebo reference="camera_link">
    <material>Gazebo/Red</material>
  </gazebo>


  <!-- 2.5.1 End -->

</robot>